/* Unprocessed Document */
.unprocessedDocument .simpleContainerHeader {
  background: darkgray;
}

.unprocessedDocument .simpleContainerTagline {
  background: lightgray;
}

.unprocessedDocumentsHeader {
  margin: 10px;
  padding-left: 0px;
}


/* Raw Content */
.individualRawContent .simpleContainerHeader {
  background: lightsteelblue;
}

.individualRawContent .simpleContainerTagline {
  background: lightblue;
}



/* Simple Container */
.simpleContainer {
  border: 1px solid;
  margin: 10px;
}

.simpleContainer div {
  padding-left: 10px;
  padding-right: 10px;
}

.simpleContainerHeader {
  padding-left: 10px;
  margin: 0px;
}

.simpleContainerTagline {
  font-size: 14px;
}


/* Header */
#header {
  margin: 10px;
  padding-left: 0px;
}

.headerButton {
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
}

.headerButtonUnselected {
  background-color: #aaa;
}



/* Upload Content */
.uploadContentRow {
  margin-top: 6px;
  margin-bottom: 6px;
}

.uploadContentRowFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.uploadContentLabel {
  width: 120px;
  background-color: lightgrey;
  margin-left: 5px;
  margin-right: 8px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: inline-block;  /* needed to make width apply */
  text-align: right;
}

.uploadContentInputShort {
  width: 100px;
}

.uploadContentInputLong {
  width: 400px;
}

.uploadContentContent {
  height: 100%;
  background-color: lightskyblue;
  display: inline-block;
  flex-grow: 1;
  margin-left: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.uploadContentContentLabel {
  align-self: flex-start;
}


/* Pagination */
.paginationInformation {
  margin-left: 10px;
  margin-right: 10px;
}

.paginationPagesLink {
  margin-left: 5px;
  margin-right: 5px;
  font-size: larger;
  width: 30px;
  display: inline-block;
  text-align: center;
}

.paginationPagesLinkCurrent {
  font-weight: bold;
}

.paginationInfo {
  display: inline-block;
  width: 120px;
}
