.unprocessedDocument {
  border: 1px solid;
  margin: 10px;
}

.unprocessedDocument div {
  padding-left: 10px;
}

.unprocessedDocument h2 {
  padding-left: 10px;
}

.unprocessedDocument .title {
  margin: 0px;
  background: darkgray;
}

.unprocessedDocument .dateAndAuthor {
  background: lightgray;
  font-size: 14px;
}

.individualRawContent {
  border: 1px solid;
  margin: 10px;
}

.individualRawContent div {
  padding-left: 10px;
}

.individualRawContent h2 {
  padding-left: 10px;
}

.individualRawContent .rawContentSourceUri {
  margin: 0px;
  background: lightsteelblue;
}

.individualRawContent .rawContentRetrieveTime {
  background: lightblue;
  font-size: 14px;
}